In [ ]:
# https://docs.dgl.ai/en/0.9.x/guide/data-loadcsv.html

In [1]:
import pandas as pd

In [18]:
edges = pd.read_csv('./cora/cora.cites', sep='\t', header=None)
edges.rename({0:'src_id',1:'dst_id'}, inplace=True, axis=1)

In [79]:
edges.to_csv('./cora_csv/cora_edges.csv', index=False, sep=',')

In [23]:
nodes = pd.read_csv('./cora/cora.content', sep='\t', header=None)

In [29]:
for i in range(1434):
    nodes[i] = nodes[i].map(lambda x: str(x))

In [50]:
nodes

,0,1,2,3,4,5,6,7,8,9,...,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434
0,31336,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,Neural_Networks
1,1061127,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,Rule_Learning
2,1106406,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Reinforcement_Learning
3,13195,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Reinforcement_Learning
4,37879,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Probabilistic_Methods
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,1128975,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Genetic_Algorithms
2704,1128977,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Genetic_Algorithms
2705,1128978,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Genetic_Algorithms
2706,117328,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Case_Based
2707,24043,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Neural_Networks

In [111]:
nodes_ids = nodes.loc[:,[0]]

In [112]:
nodes_ids

            0
0       31336
1     1061127
2     1106406
3       13195
4       37879
...       ...
2703  1128975
2704  1128977
2705  1128978
2706   117328
2707    24043

[2708 rows x 1 columns]

In [94]:
labels = nodes.loc[:,[1434]]

In [98]:
labels_map = {}
for i, v in enumerate(labels[1434].unique()):
    if v not in labels_map:
        labels_map[v] = len(labels_map)

In [99]:
labels_map

{'Neural_Networks': 0,
 'Rule_Learning': 1,
 'Reinforcement_Learning': 2,
 'Probabilistic_Methods': 3,
 'Theory': 4,
 'Genetic_Algorithms': 5,
 'Case_Based': 6}

In [103]:
new_labels = labels[1434].map(lambda x: labels_map[x])

In [153]:
nodes.loc[:,[1]].astype(float)

        1
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
...   ...
2703  0.0
2704  0.0
2705  0.0
2706  0.0
2707  0.0

[2708 rows x 1 columns]

In [155]:
tmp = nodes.loc[:,[1]].astype(float)
for i in range(1432):
    tmp = pd.DataFrame(tmp[1].astype(str).str.cat(
        nodes.loc[:,[i+2]].astype(float).astype(str), sep=','))

In [156]:
tmp.tail(10)

                                                      1
2698  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
2699  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
2700  0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
2701  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
2702  0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0....
2703  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
2704  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
2705  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
2706  0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0....
2707  0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....

In [157]:
nodes_new = pd.concat([nodes_ids,new_labels,tmp],axis=1)

In [158]:
nodes_new.rename({0:'node_id', 1434:'label', 1:'feat'}, axis=1, inplace=True)

In [159]:
nodes_new.to_csv('./cora_csv/cora_nodes.csv', sep=',', index=False)

In [145]:
import sys
sys.getsizeof(nodes_new)

8104883

In [126]:
# !pip install pyyaml

Collecting pyyaml
  Downloading PyYAML-6.0-cp310-cp310-macosx_10_9_x86_64.whl (197 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 197.6/197.6 kB 867.0 kB/s eta 0:00:00a 0:00:01
Installing collected packages: pyyaml
Successfully installed pyyaml-6.0

In [160]:
import dgl

In [161]:
ds = dgl.data.CSVDataset('./cora_csv/')

Done loading data from cached files.

In [162]:
g = ds[0]

In [163]:
label = g.ndata['label']

In [164]:
feat = g.ndata['feat']

In [165]:
g

Graph(num_nodes=2708, num_edges=5429,
      ndata_schemes={'feat': Scheme(shape=(1433,), dtype=torch.int64), 'label': Scheme(shape=(), dtype=torch.int64)}
      edata_schemes={})

In [166]:
from dgl.data import CiteseerGraphDataset, CoraGraphDataset, PubmedGraphDataset

In [170]:
data = CiteseerGraphDataset()

  NumNodes: 3327
  NumEdges: 9228
  NumFeats: 3703
  NumClasses: 6
  NumTrainingSamples: 120
  NumValidationSamples: 500
  NumTestSamples: 1000
Done loading data from cached files.

In [172]:
cite_g = data[0]

In [176]:
cite_g.ndata

{'feat': tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.]]), 'label': tensor([3, 1, 5,  ..., 3, 1, 5]), 'val_mask': tensor([False, False, False,  ..., False, False, False]), 'test_mask': tensor([False, False, False,  ...,  True,  True,  True]), 'train_mask': tensor([ True,  True,  True,  ..., False, False, False])}